body {
    font-size: large;
    text-align: center;
}
table {
    width: 100%;
    border: 4px solid black;
}
th {
    color: red;
    border: 2px double black;
}
td {
    color: green;
    border: 2px double black;

}